<div class="page-header">
  <h1>
    Recipes
    <a href="/recipes/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Recipe Name</th>
          <th>Cusine Type</th>
          <th>Time to Prepare</th>
          <th>Time to Cook</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.recipe_name %></td>
            <td><%= recipe.cuisine.name %></td>
            <td><%= recipe.time_to_prepare %></td>
            <td><%= recipe.time_to_cook %></td>
            <td><img src="<%= recipe.image_url %>" height="90px" width="90px"></td>
            <td>
              <div class="btn-group btn-group-lg">
                <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
                  <i class="fa fa-search-plus"></i>
                </a></div>
              <div class="btn-group btn-group-lg">
                <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a></div>
              <div class="btn-group btn-group-lg">
                <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </a></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->

