<!DOCTYPE html>
<html>
  <head>
    <title>"Recipe Box Results"</title>
  <style>
    .thumbnail img {
      width: 100%;
    }
    ol {
      font-size: 40px;
      color: rgb(0, 0, 255);
    }
  </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="jumbotron">
        <h1><em>Suggested Recipes</em></h1>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Recipe Name</th>
            <th>Time to Cook</th>
            <th>Ingredients</th>
            <th># of Matches</th>
          </tr>
        </thead>

        <tbody>
          <% @matches.each do |match| %>
            <tr>
              <td><%= @recipeName %></td>
              <td><%= @time_to_cook / 60 %> Minutes</td>
              <td><%= @total_ingredients %></td>
              <td><%= @matches.length %></td>
              <td><img src="<%= @small_picture %>"></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row">
        <h2><em>Most Used Recipes</em></h2>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img src="pictures/burger_small.jpg" alt="Small burgers">
            <div class="caption">
            <h3>Small burgers</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn btn-primary" role="button">Go to Recipe!</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img src="pictures/soft_taco.jpg" alt="Soft taco">
            <div class="caption">
            <h3>Soft taco</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn btn-primary" role="button">Go to Recipe!</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img src="pictures/chicken.jpg" alt="Chicken">
            <div class="caption">
            <h3>Chicken</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn btn-primary" role="button">Go to Recipe!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Photos (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @matches.each do |match| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Photo #<%= photo.id %></h3>
      </div>
      <div class="panel-body">
        <a href="/photos/<%= photo.id %>" class="thumbnail">
          <img src="<%= big_picture %>">
        </a>
        <dl>
          <dt>Recipe Name</dt>
          <dd><%= recipeName %></dd>

          <dt>Time to Cook</dt>
          <dd><%= time_to_cook %></dd>

        </dl>
        <% photo.comments.each do |comment| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading"><%= comment.commenter.email %></h4>
              <p><%= comment.content %></p>
              <small><%= time_ago_in_words(comment.created_at) %> ago</small>
            </div>
          </div>
        <% end %>
        <div class="media">
          <div class="media-body">
            <form action="/create_comment" class="form-inline">
              <div class="form-group">
              <input type="text" placeholder="content" name="content" class="form-control">

              </div>
              <div class="form-group">
              <input type="text" placeholder="commenter_id" name="commenter_id" class="form-control">

              </div>
              <input type="hidden" placeholder="photo_id" name="photo_id" class="form-control" value="<%= photo.id %>">

              <input type="submit" class="btn btn-success">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
