<div class="page-header">
  <h1>
    Recipes
    <a href="/recipes/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Cuisine</th>
          <th>Recipe name</th>
          <th>Image</th>
          <th>Time to prepare</th>
          <th>Time to cook</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <!-- <td><%= recipe.cuisine_id %></td> -->
            <td><%= @recipe %></td>
            <td><%= @small_picture %></td>
            <td><%= recipe.time_to_prepare %></td>
            <td><%= @time_to_cook %></td>
            <td>
              <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>
            </td>
            <td>
              <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->

<div id="wrapper">
  <div id="columns">
    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed feugiat consectetur pellentesque. Nam ac elit risus,
        ac blandit dui. Duis rutrum porta tortor ut convallis.
        Duis rutrum porta tortor ut convallis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
      <p>
        Donec a fermentum nisi.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
      <p>
        Nullam eget lectus augue. Donec eu sem sit amet ligula
        faucibus suscipit. Suspendisse rutrum turpis quis nunc
        convallis quis aliquam mauris suscipit.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
      <p>
        Nullam eget lectus augue. Donec eu sem sit amet ligula
        faucibus suscipit. Suspendisse rutrum turpis quis nunc
        convallis quis aliquam mauris suscipit.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
      <p>
        Donec a fermentum nisi. Integer dolor est, commodo ut
        sagittis vitae, egestas at augue.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed feugiat consectetur pellentesque. Nam ac elit risus,
        ac blandit dui. Duis rutrum porta tortor ut convallis.
        Duis rutrum porta tortor ut convallis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
      <p>
        Nullam eget lectus augue. Donec eu sem sit amet ligula
        faucibus suscipit. Suspendisse rutrum turpis quis nunc
        convallis quis aliquam mauris suscipit.
        Duis rutrum porta tortor ut convallis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
      <p>
        Nullam eget lectus augue.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed feugiat consectetur pellentesque.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
      <p>
        Donec a fermentum nisi. Integer dolor est, commodo ut
        sagittis vitae, egestas at augue. Suspendisse id nulla
        ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
      <p>
        Donec a fermentum nisi. Integer dolor est, commodo ut
        sagittis vitae, egestas at augue. Suspendisse id nulla
        ac urna vestibulum mattis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed feugiat consectetur pellentesque. Nam ac elit risus,
        ac blandit dui. Duis rutrum porta tortor ut convallis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
      <p>
        Donec a fermentum nisi. Integer dolor est, commodo ut
        sagittis vitae, egestas at augue. Suspendisse id nulla
        ac urna vestibulum mattis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
      <p>
        Donec a fermentum nisi. Integer dolor est, commodo ut
        sagittis vitae, egestas at augue. Suspendisse id nulla
        ac urna vestibulum mattis.
      </p>
    </div>

    <div class="pin">
      <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed feugiat consectetur pellentesque. Nam ac elit risus,
        ac blandit dui. Duis rutrum porta tortor ut convallis.
      </p>
    </div>
  </div>
</div>
