<div class="page-header">
  <h1>
    Recipes
    <a href="/recipes/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<div class="row">
  <div class="padding">
    <div class="col-md-6">
      <input type="text" id="quicksearch" placeholder="Search Ingredients (start typing)" class="form-control">
    </div>
  </div>
</div>

<!-- Panels -->

<div class="row isotope-container">
  <% @matches.each do |match| %>
  <div class="col-md-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recipe: <%= match["recipeName"] %></h3>
        </div>

          <div class="panel-body">
            <dl>
              <% if match["imageUrlsBySize"].present? %>
                <img src="<%= match["imageUrlsBySize"]["90"] %>">
              <% end %>
              <dt>Ingredients</dt>
              <dd><% match["ingredients"].each do |ingredient| %>
                <%= ingredient %>
                <% end %>
              </dd>

              <dt>Time to cook</dt>
              <dd><% if match["totalTimeInSeconds"].to_i > 0 %>
                     <%= match["totalTimeInSeconds"] / 60 %>
                  <% else %>
                       Undefined
                  <% end %>
                  Minutes</dd>

              <dt>Ratings</dt>
              <dd><%= match["rating"] %> Stars</dd>

              <dt>Directions</dt>
              <dd><a href="http://www.yummly.com/recipe/<%= match["id"] %>">Yummly Guide</a></dd>

            </dl>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!-- JavaScript for Isotope layout and quicksearch -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->

